<div class="container">
  <h1>NEVERNOTE</h1>
  <form action="/notes/new" id="new">
    <input type="submit" value="New Note">
  </form>

  <% if @notes %>
    <% @notes.each do |note| %>
      <div class="show">
        <% if note.content %>
          <h3 id="title">Note: <a href="/notes/<%= note.id %>"><%= note.title %></h3></a>
          <p class="content"><%= note.content %></p>
        <% else %>
          <p class="content"><%= note.content[0..5] + note.content[6..30].gsub(/\w+.*$/, '...') %></p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>Add some notes!</p>
  <% end %>

</div>

<!-- <div class="container">
    <%= markdown_to_html @readme_content %>
</div>
 -->